.tokens__tab:hover .tokens__tab__scrollButton {
    opacity: 1;
    visibility: visible;
}

.tokens__tab__scrollButton {
    visibility: hidden;
    position: absolute;
    top: 30px;
    opacity: 0;
    transition: all 0.1s linear;
    z-index: 10;
}
