.toast-container {
    position: relative;
    border-radius: 12px;
    background: rgba(68, 70, 95, 0.6);
    border: 2px solid rgb(70, 75, 90);
    backdrop-filter: blur(16px);
    font-size: 14px;
}

.Toastify__toast-body {
    align-items: start;
}

.Toastify__toast-icon {
    width: 28px;
}
