@import "./theme.css";
@import "./components/tabs.css";
@import "./components/table.css";
@import "./components/toast.css";
@import "./components/pagination.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        color: #FFF;
        outline: none;
        -ms-overflow-style: none;
    }

    *::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
    }

    body {
        background: #000;
        font-family: 'Poppins', sans-serif;
        min-height: 100vh;
    }

    .backdrop-box {
        background: rgba(68, 70, 95, 0.6);
        border: 2px solid rgb(70, 75, 90);
        backdrop-filter: blur(16px);
    }

    @font-face {
        font-family: 'D-DIN';
        font-weight: 700;
        src: url(https://cdn1.p12.games/fonts/D-DIN-Bold.ttf);
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .vertical-scroll::-webkit-scrollbar {
        background: rgba(0, 0, 0, 0);
        width: 4px;
        border-radius: 4px;
    }

    .vertical-scroll::-webkit-scrollbar-thumb {
        background: rgba(206, 220, 255, 0.12);
        border-radius: 4px;
    }

    .horizontal-scroll::-webkit-scrollbar {
        background: rgba(0, 0, 0, 0);
        width: 0;
        height: 0;
    }
}

@layer components {
    .gradient__box {
        position: relative;
        background: linear-gradient(180deg, rgba(78, 86, 145, 0.5) 0%, rgba(59, 65, 103, 0.5) 9.38%, rgba(60, 65, 100, 0.5) 15.66%, rgba(60, 65, 100, 0.5) 100%);
        border: 1px solid #616985;
        border-radius: 1rem;
        overflow: hidden;
        @apply backdrop-blur-lg sm:backdrop-blur-none;
    }

    .gradient__box::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 10%;
        width: 100%;
        height: 80%;
        background: var(--gradient);
        filter: blur(16px);
        opacity: 0.15;
    }

    .tooltip__container {
        background: repeating-linear-gradient(to bottom, #4E5372, #4E5372), repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #4E5372);
        background-clip: content-box, padding-box;
        padding: 0.1rem;
    }

    .round-box {
        @apply h-[146px] w-full max-w-[701px] bg-cover bg-no-repeat p-8 md:h-auto;
        @apply md:p-4 md:border md:border-[#616985] md:rounded-2xl md:backdrop-blur md:bg-gradient-to-b md:from-fuchsia-700 sm:px-2;
    }

    .round-box__one {
        @apply relative top-0 left-0 bg-round-one;
        @apply md:bg-gradient-transparent;
    }

    .round-box__two {
        @apply absolute top-0 right-0 bg-round-two;
        @apply md:bg-none md:relative md:mt-4;
    }

    .poster__button {
        position: relative;
        background: var(--card);
        background-clip: content-box, padding-box;
        padding: 2px;
        border-radius: 9999px;
        overflow: hidden;
    }

    .home__card {
        @apply relative cursor-pointer overflow-hidden rounded-2xl backdrop-blur;
        @apply flex flex-col items-center justify-center;
    }

    .copy__btn {
        background: linear-gradient(180deg, #7CD645 5%, #2E5F19 46.81%, #5EAA30 100%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 12px;
    }

    .copy__btn:hover {
        background: linear-gradient(180deg, #90EC58 5%, #3E7725 46.81%, #6FBD40 100%);
    }
}

@layer utilities {
    .bg-gradient-item {
        background: linear-gradient(to bottom, #4E56917F 0%, #3B41677F 10%, #3C41647F 16%, #3C41647F 100%);
        backdrop-filter: blur(16px);
        border: 1px solid #616985;
    }

    .bg-p12-poster-0 {
        background: url("/img/poster/bg_0_top.webp") no-repeat top left, url("/img/poster/bg_0_bottom.webp") no-repeat bottom left, #0F182C;
    }

    .bg-p12-poster-1 {
        background: url("/img/poster/bg_1_top.webp") no-repeat top left, url("/img/poster/bg_1_bottom.webp") no-repeat bottom left, #0F182C;
    }

    .bg-p12-poster-2 {
        background: url("/img/poster/bg_2_top.webp") no-repeat top left, url("/img/poster/bg_2_bottom.webp") no-repeat bottom left, #0F182C;
    }

    .bg-p12-poster-3 {
        background: url("/img/poster/bg_3_top.webp") no-repeat top left, url("/img/poster/bg_3_bottom.webp") no-repeat bottom left, #0F182C;
    }

    .bg-p12-poster-4 {
        background: url("/img/poster/bg_4_top.webp") no-repeat top left, url("/img/poster/bg_4_bottom.webp") no-repeat bottom left, #0F182C;
    }

    .bg-collab-time-start {
        background: url("/img/collab/subtract_start.png") no-repeat;
        background-size: 100% 100%;
    }

    .bg-collab-timing {
        background: url("/img/collab/subtract.png") no-repeat;
        background-size: 100% 100%;
    }

    .bg-collab-time-end {
        background: url("/img/collab/subtract_end.png") no-repeat;
        background-size: 100% 100%;
    }

    .dota__button {
        @apply relative cursor-pointer border border-[#EB6A55];
        background: linear-gradient(to bottom, #98322D 0%, #C84435 50.51%, #C94435 50.52%, #E85136 100%);
    }

    .dota__button:hover {
        background: linear-gradient(to bottom, #AA3D37 0%, #DD5040 52.08%, #FC6145 100%);
    }

    .dota__o-button {
        @apply relative cursor-pointer border border-[#5F647C];
        background: linear-gradient(to bottom, #3F435A 0%, #50546F 49.48%, #535771 100%);
    }

    .dota__o-button:hover {
        background: linear-gradient(to bottom, #525671 0%, #616683 49.48%, #626783 100%);
    }

    .dota__gold {
        @apply font-semibold text-p12-gold;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }

    .dota__box {
        @apply border border-[#3A3D3B];
        background: linear-gradient(0deg, #171619 0%, #201D22 50.51%, #252C30 100%);
    }

    .activity {
        @apply select-none cursor-pointer transition hover:scale-110 active:scale-90;
    }
}
