@import "./theme.css";
@import "./components/tabs.css";
@import "./components/table.css";
@import "./components/toast.css";
@import "./components/pagination.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        color: #FFF;
        outline: none;
    }

    *::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    body {
        background: #000;
        font-family: 'Poppins', sans-serif;
        min-height: 100vh;
    }

    .backdrop-box {
        background: rgba(68, 70, 95, 0.6);
        border: 2px solid rgb(70, 75, 90);
        backdrop-filter: blur(16px);
    }

    @font-face {
        font-family: 'D-DIN';
        font-weight: 700;
        src: url(https://cdn1.p12.games/fonts/D-DIN-Bold.ttf);
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .vertical-scroll::-webkit-scrollbar {
        background: rgba(0, 0, 0, 0);
        width: 4px;
        border-radius: 4px;
    }

    .vertical-scroll::-webkit-scrollbar-thumb {
        background: rgba(206, 220, 255, 0.12);
        border-radius: 4px;
    }

    .horizontal-scroll::-webkit-scrollbar {
        background: rgba(0, 0, 0, 0);
        width: 0;
        height: 0;
    }
}

@layer components {
    .gradient__box {
        position: relative;
        background: linear-gradient(180deg, rgba(78, 86, 145, 0.5) 0%, rgba(59, 65, 103, 0.5) 9.38%, rgba(60, 65, 100, 0.5) 15.66%, rgba(60, 65, 100, 0.5) 100%);
        border: 1px solid #616985;
        border-radius: 1rem;
        backdrop-filter: blur(16px);
        overflow: hidden;
    }

    .gradient__box::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 10%;
        width: 100%;
        height: 80%;
        background: var(--gradient);
        filter: blur(16px);
        opacity: 0.15;
    }

    .tooltip__container {
        background: repeating-linear-gradient(to bottom, #4E5372, #4E5372), repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #4E5372);
        background-clip: content-box, padding-box;
        padding: 0.1rem;
    }
}
