.p12-theme-01 {
    --logo: url('/img/theme/01/logo.svg');
    --select: url('/img/theme/01/select.svg');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_purple.png');
    --gradient: repeating-linear-gradient(to right, #A011FF, #FF9E76);
    --gradient-transparent: linear-gradient(to bottom, #A011FFA5, #00000000 80%);
}

.p12-theme-02 {
    --logo: url('/img/theme/02/logo.svg');
    --select: url('/img/theme/02/select.svg');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_green.png');
    --gradient: repeating-linear-gradient(to right, #09BDA0, #A3D365);
    --gradient-transparent: linear-gradient(to bottom, #09BDA0A5, #00000000 80%);
}

.p12-theme-03 {
    --logo: url('/img/theme/03/logo.svg');
    --select: url('/img/theme/03/select.svg');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_orange.png');
    --gradient: repeating-linear-gradient(to right, #D9214D, #FFB876);
    --gradient-transparent: linear-gradient(to bottom, #D9214DA5, #00000000 80%);
}

.p12-theme-04 {
    --logo: url('/img/theme/04/logo.svg');
    --select: url('/img/theme/04/select.svg');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_blue.png');
    --gradient: repeating-linear-gradient(to right, #A072FF, #3592FF);
    --gradient-transparent: linear-gradient(to bottom, #A072FFA5, #00000000 80%);
}
