.p12-theme-01 {
    --omg-color: #C859FF80;
    --participant-1: url('/img/arcana/participant_purple_1.webp');
    --participant-2: url('/img/arcana/participant_purple_2.webp');
    --logo: url('/img/theme/01/logo.svg');
    --select: url('/img/theme/01/select.svg');
    --profile-info: url('/img/theme/01/profile_info.webp');
    --collab-info: url('/img/theme/01/collab_info.webp');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_purple.png');
    --gradient: repeating-linear-gradient(to right, #A011FF, #FF9E76);
    --card: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #A011FF, #FF9E76);
    --gradient-30: repeating-linear-gradient(to right, #A011FF4D, #FF9E764D);
    --gradient-45: repeating-linear-gradient(to right, #A011FF73, #FF9E7673);
    --gradient-transparent: linear-gradient(to bottom, #A011FFA5, #00000000 80%);
}

.p12-theme-02 {
    --omg-color: #1EDB8C80;
    --participant-1: url('/img/arcana/participant_green_1.webp');
    --participant-2: url('/img/arcana/participant_green_2.webp');
    --logo: url('/img/theme/02/logo.svg');
    --select: url('/img/theme/02/select.svg');
    --profile-info: url('/img/theme/02/profile_info.webp');
    --collab-info: url('/img/theme/02/collab_info.webp');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_green.png');
    --gradient: repeating-linear-gradient(to right, #09BDA0, #A3D365);
    --card: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #09BDA0, #A3D365);
    --gradient-30: repeating-linear-gradient(to right, #09BDA04D, #A3D3654D);
    --gradient-45: repeating-linear-gradient(to right, #09BDA073, #A3D36573);
    --gradient-transparent: linear-gradient(to bottom, #09BDA0A5, #00000000 80%);
}

.p12-theme-03 {
    --omg-color: #FFAA2C80;
    --participant-1: url('/img/arcana/participant_orange_1.webp');
    --participant-2: url('/img/arcana/participant_orange_2.webp');
    --logo: url('/img/theme/03/logo.svg');
    --select: url('/img/theme/03/select.svg');
    --profile-info: url('/img/theme/03/profile_info.webp');
    --collab-info: url('/img/theme/03/collab_info.webp');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_orange.png');
    --gradient: repeating-linear-gradient(to right, #D9214D, #FFB876);
    --card: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #D9214D, #FFB876);
    --gradient-30: repeating-linear-gradient(to right, #D9214D4D, #FFB8764D);
    --gradient-45: repeating-linear-gradient(to right, #D9214D73, #FFB87673);
    --gradient-transparent: linear-gradient(to bottom, #D9214DA5, #00000000 80%);
}

.p12-theme-04 {
    --omg-color: #43BBFF80;
    --participant-1: url('/img/arcana/participant_blue_1.webp');
    --participant-2: url('/img/arcana/participant_blue_2.webp');
    --logo: url('/img/theme/04/logo.svg');
    --select: url('/img/theme/04/select.svg');
    --profile-info: url('/img/theme/04/profile_info.webp');
    --collab-info: url('/img/theme/04/collab_info.webp');
    --round-one: url('https://cdn1.p12.games/airdrop/img/first_half_blue.png');
    --gradient: repeating-linear-gradient(to right, #A072FF, #3592FF);
    --card: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #A072FF, #3592FF);
    --gradient-30: repeating-linear-gradient(to right, #A072FF4D, #3592FF4D);
    --gradient-45: repeating-linear-gradient(to right, #A072FF73, #3592FF73);
    --gradient-transparent: linear-gradient(to bottom, #A072FFA5, #00000000 80%);
}
