.p12-theme-01 {
    --from: #A011FF;
    --from-30: #A011FF4D;
    --from-45: #A011FF73;
    --from-65: #A011FFA5;
    --to: #FF9E76;
    --to-30: #FF9E764D;
    --to-45: #FF9E7673;
    --mask-40: #C859FF66;
    --omg-count: url('/img/theme/01/omg_count_bg.webp');
    --logo: url('/img/theme/01/logo.svg');
    --select: url('/img/theme/01/select.svg');
    --profile-info: url('/img/theme/01/profile_info.webp');
    --collab-info: url('/img/theme/01/collab_info.webp');
}

.p12-theme-02 {
    --from: #09BDA0;
    --from-30: #09BDA04D;
    --from-45: #09BDA073;
    --from-65: #09BDA0A5;
    --to: #A3D365;
    --to-30: #A3D3654D;
    --to-45: #A3D36573;
    --mask-40: #1EDB8C66;
    --omg-count: url('/img/theme/02/omg_count_bg.webp');
    --logo: url('/img/theme/02/logo.svg');
    --select: url('/img/theme/02/select.svg');
    --profile-info: url('/img/theme/02/profile_info.webp');
    --collab-info: url('/img/theme/02/collab_info.webp');
}

.p12-theme-03 {
    --from: #D9214D;
    --from-30: #D9214D4D;
    --from-45: #D9214D73;
    --from-65: #D9214DA5;
    --to: #FFB876;
    --to-30: #FFB8764D;
    --to-45: #FFB87673;
    --mask-40: #FFAA2C66;
    --omg-count: url('/img/theme/03/omg_count_bg.webp');
    --logo: url('/img/theme/03/logo.svg');
    --select: url('/img/theme/03/select.svg');
    --profile-info: url('/img/theme/03/profile_info.webp');
    --collab-info: url('/img/theme/03/collab_info.webp');
}

.p12-theme-04 {
    --from: #A072FF;
    --from-30: #A072FF4D;
    --from-45: #A072FF73;
    --from-65: #A072FFA5;
    --to: #3592FF;
    --to-30: #3592FF4D;
    --to-45: #3592FF73;
    --mask-40: #43BBFF66;
    --omg-count: url('/img/theme/04/omg_count_bg.webp');
    --logo: url('/img/theme/04/logo.svg');
    --select: url('/img/theme/04/select.svg');
    --profile-info: url('/img/theme/04/profile_info.webp');
    --collab-info: url('/img/theme/04/collab_info.webp');
}
